/*  Media Query for small Tablet and Mobile Phones */
@media screen and (max-width: 767px) {
        .features-container{
                flex-direction: column !important;
                
        }
        .feature{
                justify-self: center !important;
                margin-top: 2em !important;
                width: 70% !important;

        }
        .custom-hosting-features{
                flex-direction: column !important;
        }
}
@media screen and (min-width: 768px) {
        
}
